html, body, #content, #navbar {
    height: 100%;
}

.row {
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: var(--green);
}

#btn-connexion {
    background-color: var(--green);
    color: var(--dark);
    border-radius: 5px;
}

#btn-connexion:hover {
    border: 1px solid var(--green);
    color: var(--green);
    background-color: var(--dark);
    text-decoration: none;
}

#navbar {
    border-right: 2px solid var(--green);
}
.navbar-item {
    color: var(--green);
    border-top: 1px solid var(--light);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.navbar-item a:hover {
    cursor: pointer;
    color: white;
    font-weight: bold; 
}

.navbar-title {
    border-bottom: 2px solid var(--green);
}

#content {
    background-color: var(--light);
}

.bubble {
    cursor: pointer;
    font-size: 4em;
    border-radius: 50%;
    display: flex;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid var(--green);
}

.bubble i { 
    display: flex;
    margin: auto;
}

.bubble:hover {
    font-weight: bold;
    background-color: var(--light) !important;
}

.bubble-sm {
    cursor: pointer;
    font-size: 1em;
    border-radius: 50%;
    display: flex;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid var(--green);
}

.bubble-sm i { 
    display: flex;
    margin: auto;
}

.bubble-sm:hover {
    font-weight: bold;
    background-color: var(--light) !important;
}

.message-float {
    border-bottom: 1px solid var(--dark);
    border-top: 1px solid var(--dark);
}

.message-text {
    overflow: auto;
}