<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Banque</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="h-100">
            <nav class="navbar navbar-dark bg-dark pb-0 px-0">
              <div class="row w-100 ">
                <div class="col-3 col-sm-2 pb-0 pr-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col-9 col-sm-10 navbar-title p-0">

                </div>
              </div>
            </nav>
            
            <div class="row h-100">
                <div id="navbar" class="col-3 col-sm-2 bg-dark">
                    <div class="navbar-item">
                        <p>Mon compte</p>
                    </div>
                    <div class="navbar-item">
                        <p>Agence</p>
                    </div>
                    <div class="navbar-item">
                        <p>Mes comptes</p>
                    </div>
                    <div class="navbar-item">
                        <p>Services</p>
                    </div>
                    <div class="navbar-item">
                        <p>Contacts</p>
                    </div>
                </div> 


                <div id="content" class="col-9 col-sm-10">

                </div>
            </div>
        </div>
    </body>
</html>
